<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset ="UTF-8">
    <title> EaT - Da - BuRgEr </title>
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgerfrontend.js"></script>
   <!-- <script src="/assets/js/bgr.js"></script>  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Dosis:700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />	
	
</head>
<body>
    {{{ body }}}
</body>


</html>