<div class="wrap">

  <div id="header">
    <h1>EaT - Da - BuRgEr</h1>
  </div>
  
  <div id="mid">  
   
    <div class="container2"> 
    <img src="/assets/img/burger.jpg" id="gif" style="display: block; border-radius: 50%; margin: 0 auto; width: 300px; height:220px;">
    
	<div class="row">
        <div class="col-md-6">   
        {{#each readings}}
		{{#unless devoured}}
        <div class="row">
          <div class="col-md-12 reading-container">            
                <div class="row">               
                  <div class="col-6 reading readingPrice">Burger: {{this.burger_name}}</div>              
                  <div class="col-6"><button data-id="{{this.id}}" class="delete  btn btn-warning float-left">Devour it!</button></div>
                </div>
          </div>
        </div>
		{{/unless}}
        {{/each}}
		</div>
		<div class="col-md-6">  
		{{#each readings}}
        {{#if devoured}}
		<div class="row">
        <div class="col-md-12 reading-container">            
            <div class="row">               
				<div class="col-12 reading readingPrice">Burger: {{this.burger_name}}</div>                              
			</div>
		</div>
		</div>
		 {{/if}}
         {{/each}}
		</div>
		</div>
		<br>
      <div class="row">
        <div class="col-lg-12">
        		
              <form action="" method="POST" role="form">
                <div class="form-group">                  
                  <input type="text" class="form-control" id="bName" placeholder="Please enter burger name..">
                </div>                             
              <br>
              <div>
                <button type="submit" class="btn btn-danger btn-md" id="add-btn">Submit</button>                 
              </div>
			  </form>
           
        </div>  <!-- end of lg-12 -->
      </div>  <!-- end of row -->
    </div>  <!-- end of container2 -->
  </div> <!-- end of mid -->
</div> <!-- end of wrap -->